column = field

It's good practive to capitalize SQL keywords to distinguish them from the other parts of the query.

It's also good practice to include a semi colon at the end, but not necessary.

## Count
SELECT COUNT(\*) - Counts the number of rows  
SELECT COUNT(column_name) - Counts the number of non-empty rows of a columns  
SELECT COUNT(DISTINCT column_name) - Counts the number of unique values of the column

## Where
Used to compare.

<> $\equiv$ not equal

You can add as many ANDs and ORs to it, bt you need to specify the column name each time.

SELECT title  
FROM films  
WHERE (release_year = 1994 OR release_year = 1995)  
AND (certification = 'PG' OR certification = 'R');

## BETWEEN

Used to compare values in a range. Rather than having to individually say that a value is both >= x and <= y, you can just say that it is BETWEEN x AND y.

SELECT title  
FROM films  
WHERE release_year BETWEEN 1994 AND 1995  
AND (certification = 'PG' OR certification = 'R');

BETWEEN is **inclusive**

## IN
Like BETWEEN, but can also be used for categorical or text values. Creates a list of possible values that the value can be.

SELECT name  
FROM kids  
WHERE age IN (2, 4, 6, 8, 10);

## NULL
A NULL value is a value that is missing. Not a value that is an empty string, corrupt, or invalid.

When checking if a value is null, you have to write

WHERE column_name IS NULL

NOT!

WHERE column_name = NULL

## Wildcard
You need to use wildcards with the like statement, not with an equal sign.

% - matches zero, one, or many characters in text  
_ - matches a single character

Ex.  
SELECT name  
FROM companies  
WHERE name LIKE 'Data%';

Ex. 2  
SELECT name  
FROM people  
WHERE name NOT LIKE 'A_n%'

## Aggregate Function

SELECT SUM(column_name)  
FROM table;

Some possible choices:
* SUM()
* AVG()
* MAX()
* MIN()

Aggregate functions can't be used in WHERE clauses. You have to using the HAVING clause.

## Arithmetic
You can also do basic arithmetic

Note: SELECT(4/3) gives a result of 1. If you are using ints, SQL assumes that you want an int back. So

SELECT(4.0/3.0) AS result gives 1.333

## Aliasing
Means assigning a temporary name to something. Is done using the AS keyword. Useful when you want to get back results that have the same name. For example:

SELECT MAX(budget), MAX(duration)  
FROM films;

Would result two columns both called MAX. So, to make results more readable, you can do:

SELECT MAX(budget) AS max_budget,  
       MAX(duration) AS max_duration  
FROM films;

## ORDER BY
By default, orders results in ascending order. For text or character values, this means ordering by A-Z. Characters that are not in the alphabet like "[" or "Ã†" are listed after Z.

this is pretty much the sort_values command for dataframes.

To change it to descending, add DESC at the end.

SELECT title  
FROM films  
ORDER BY release_year DESC;

Make sure to always put the ORDER BY clause at the end of your query. You can't sort values that you haven't calculated yet!

## GROUP BY
Is used to aggregate resulrs. Is commonly used with aggregate functions like COUNT() and MAX(). The same as groupby with dataframes.

GROUP BY always goes before ORDER BY!

EX.  
SELECT sex, count(\*)  
FROM employees  
GROUP BY sex;

SQL will return an error if you try to SELECT a field that is not in your GROUP BY clause without using it to calculate some kind of value about the entire group.

You can combine GROUP BY with ORDER BY to group your results, calculate something about them, and then order your results. For example,

SELECT sex, count(\*)  
FROM employees  
GROUP BY sex  
ORDER BY count DESC;

## HAVING
You can't use aggregate functions in a WHERE clause, so instead you need to use HAVING.

Ex.  
SELECT *  
FROM films  
HAVING AVG(budget) > 60000000;

## Example of order of clauses

SELECT release_year, AVG(budget) AS avg_budget, AVG(gross) AS avg_gross  
FROM films  
WHERE release_year > 1990   
GROUP BY release_year  
HAVING AVG(budget) > 60000000  
ORDER BY AVG(gross) DESC;